# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.gitignore
.idea
client\node_modules
server\node_modules
C:\Users\Amore\Desktop\jadeauto\jadeauto\client\node_modules
C:\Users\Amore\Desktop\jadeauto\jadeauto\server\node_modules
C:\Users\Amore\Desktop\jadeauto\jadeauto\server\.pnp
C:\Users\Amore\Desktop\jadeauto\jadeauto\server\.pnp.js
C:\Users\Amore\Desktop\jadeauto\jadeauto\server\.env
server\static
C:\Users\Amore\Desktop\jadeauto\jadeauto\server\static
