@import "src/scss/variables";
@mixin input(){
  outline: none;
  font-size: $f-min;
  border-radius: 3px;
  border: 2px solid $grey;
  background-color: #333;
  margin: 0 auto;
  text-indent: 10px;
  color: $grey;
  margin-bottom: 10px;
  line-height: $f-middle;
  &:hover{
    border: 2px solid $red;
    transition: border .3s;
  }
  &:active, &:focus{
    border: 2px solid white;
    transition: broder 0.3s;
  }
}

@mixin link(){
  text-decoration: none;
  color: $grey;
  cursor: pointer;
  &:hover{
    color: $red;
    transition: color 0.3s;
  }
  &:active, &:focus{
    color: white;
    transition: color 0.3s;
  }
}
@mixin button(){
  color: white;
  font-size: $f-min;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  width: 260px;
  margin-top: 20px;
  text-align: center;
  letter-spacing: 1px;
  background-color: $grey;
  margin-top: 10px;
  &:hover{
    background-color: $red;
    transition:  background-color  .1s;
  }
  &:focus, &:active{
    color: #000;
    background-color: white;
    transition:  background-color  .1s;
  }
}
@mixin sorting(){
  .Sort__container-title{
    p{
      color: white;
    }
  }
  .Sort__container-options{
    display: flex;
  }
  .Sort__container-element{
    border-bottom: 2px solid #333;
    margin-right: 10px;
    color: $grey;
    cursor: pointer;
    &:hover{
      color: $red;
      transition: color .3s;
    }
    &:active, &:focus{
      color: white;
    }
  }
}
@mixin container(){
  width: 1600px;
  display: flex;
  justify-content: center;
}
