$h-grey: rgba(192, 192, 192, 0.15);
$grey: #7e7e7e;
$red: #CD3319;
$blue: rgba(35, 145, 199, 0.76);
$b-width: 8px;
$f-huge: 48px;
$f-middle: 24px;
$f-min: 18px;
$font:'Manrope', sans-serif;
$time: .5s;
