@import 'variables';
.CarPage{
  border: 1px solid cyan;
  color: white;
  margin-top: 50px;
  display: flex;
  align-items: center;
  .CarPage__visual{
    border: 1px solid green;
    width: 700px;
    .CarPage__title{
      font-size: $f-huge;
      font-weight: normal;
      margin-bottom: 20px;
    }
    .CarPage__visual-main{
      height: 100%;
      img{
        width: 600px ;
      }
    }
    .CarPage__visual-extends{
      border: 1px solid green;
      width: 700px;
      display: flex;
      flex-wrap: wrap;
      img{
        width: 200px;
      }
    }
  }
  .CarPage__info{
    border: 1px solid red;
    height: 500px;
    .CarPage__info-price{
      font-size: 36px;
      white-spacing: 1px;
    }
    .CarPage__info-details{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}