@import 'variables';
.CarPage{
  color: white;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  .CarPage__visual{
    .CarPage__title{
      font-size: $f-huge;
      font-weight: normal;
      margin-bottom: 20px;
    }
    .CarPage__visual-images{
      width: content-box;
      .CarPage__visual-images-main{
        width: 600px;
        height: 600px;
        background-repeat: no-repeat;
        background-size: contain;
        border: 3px solid $grey;
        background-position: 50%,50%;
        .CarPage__visual-images-main-video{
          width: 594px !important;
          height: 594px !important;
        }
      }
      .CarPage__visual-images-extends{
        width: 600px;
        display: flex;
        flex-wrap: wrap;
        .CarPage__visual-images-extends-item{
          width: 150px;
          height: 150px;
          background-repeat: no-repeat;
          background-size: cover;
          cursor: pointer;
          &:hover{
            border: 3px solid $red !important;
          }
          .CarPage__visual-images-extends-item-video{
            width: 144px !important;
            height: 144px !important;

          }
        }
      }
    }
  }
  .CarPage__info{
    font-size: $f-middle;
    width: 600px;
    .CarPage__info-price{
      text-align: right;
      margin-bottom: 80px;
      font-size: $f-huge;
    }
    .CarPage__info-details{
      .CarPage__info-details-item{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px ;
        .CarItem__params-details-item-def{
          color: $grey;
        }
      }
    }
    .CarPage__info-details-button{
      display: flex;
      margin-top: 60px;
      width: 600px;
      line-height: 30px;
      background-color: $red;
      border-radius: 3px;
      justify-content: center;
      letter-spacing: 2px;
      box-shadow: 1px 1px 2px $grey;
      cursor: pointer;
      &:hover{
        margin-top: 62px;
        box-shadow: 1px 1px 2px $red;
        transition: margin-top .1s;
      }
      &:active, &:focus{
        background-color: $grey;
        transition: background-color .1s;
        box-shadow: none;
      }
    }
  }
}