@import 'variables';

.NavBar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  .NavBar__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    img{
      width: 100px;
      border-radius: 100%;
    }
    p{
      font-size: $f-middle;
      color: #fefefe;
      &:hover{
        color: $red;
        transition: color 0.3s;
      }
      &:active, &:focus{
        color: $grey;
        transition: color 0.3s;
      }
    }
  }
  .NavBar__nav{
    display: flex;
    align-items: center;
    .NavBar__nav-phone{
      display: flex;
      margin-left: -20px ;
      padding-right:10px ;
      p{
        color: $grey;
        margin-right: 5px;
      }
      a{
        color: white;
        text-decoration: none;
        &:hover{
          color: $red;
          transition: color 0.3s;
        }
        &:active, &:focus{
          color: $grey;
          transition: color 0.3s;
        }
      }
    }
    .NavBar__nav-spacer{
      width: 2px;
      height: 30px;
      background-color: $grey;
    }
    .NavBar__nav-log{
      display: flex;
      margin-right: -10px;
      padding-left: 10px ;
      color: white;
      cursor: pointer;

      p:first-child{
        padding-right:10px ;
      }
      p:last-child{
        &:hover{
          color: $red;
          transition: color 0.3s;
        }
        &:active, &:focus{
          color: $grey;
          transition: color 0.3s;
        }
      }
    }
  }
}
